AWS_CLOUDFORMATION_STACK_NAME := automatic-reminders-stack-name
AWS_CLOUDFORMATION_RESOURCES_STACK_NAME := automatic-reminders-resources-stack-name

AWS_SAM_PROFILE := default

AWS_SAM_PACKAGE_BUCKET := my-s3-binary-bucket

BASE_DOMAIN := my-domain.foo
