{
  "ApiFunctionHandler": {
    "AWS_DYNAMODB_ENDPOINT": "http://host.docker.internal:8000/",
    "DYNAMODB_TABLE_NAME": "auto-table-development",
    "SECRETS_CLIENT_SECRET_PARAMETER_NAME": "",
    "SECRETS_CLIENT_ID_PARAMETER_NAME": "",
    "AWS_ACCESS_KEY_ID": "",
    "AWS_ACCESS_KEY_SECRET_ID": ""
  }
}
